.alert:empty {
    display: none;
}

#messages-container {
    height: 80vh;
}

#chat-window {
    margin-top: 10px;
}

#owner {
    text-align: center;
}

#input-owner {
    width: 20%;
    display: inline-flex;
}

#input-message{
    width: 78%;
    display: inline-flex;
}

.message {
    margin-bottom: 10px;
}

